@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f7f4;
  --background-secondary: white;
  --foreground: #3c4b43;
  --primary: #00cf57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
